body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #83dbd9;
}

.navbar {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

.post-container {
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-form {
    margin-bottom: 20px;
}

.post-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

.post-btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.post-btn:hover {
    background-color: #45a049;
}

.post {
    margin-bottom: 20px;
}

.post p {
    margin: 0;
}

.profile-icon {
    color: #fff;
    margin-left: auto; /* Push the profile icon to the far right */
}

.logo {
    max-height: 100%;
}